
/*
  

.fijo {position:fixed; width:280px;}
.topOp  { 
padding: 8px 32px 9px 6px !important; background-color: #ff9900; border-top:1px solid #999999; 
color: #ffffff;
font-family: arial;
font-size: 13px;
background-position: right -46px !important;	
	
}
.topOp:hover  {background-color: #ff8800 !important; }




 
*/


body {margin: 0}
p {font-size:14px; font-family:Arial; color:#666666;}


.nofijo {width:280px;}	
.fijo {position:fixed; width:280px;}

.page {position:relative; width:1200px; margin: 0 auto;}
.cbpag {position:relative; float: left;  width: 1200px; height:15px;}



.imgCat {position:relative; float:left; height:75px; width:280px; border:none; }
.imgCont {position:absolute; left:-280px; height:75px; width:280px;background-image:url('/img/fondos/mascara.png'); }

.cabLogo{position:relative; float:left; height:75px; width:920px;background-image:url('/img/fondos/fondo1.jpg');}
.logo {position:relative; float: right; margin:5px 10px 0 0; z-index:999}

.cnt {position:relative; float: left;  width: 1200px;}



/* col l
*/

#cmenu {padding-top:10px;}

.busc {  background-color: #ffffff;
    border: 1px solid #999999;
    color: #ffffff;
    float: left;
    font-family: arial;
    font-size: 13px;
    margin: 5px 10px;
    padding: 4px 4px 2px 8px;
    position: relative;
    width: 246px;}

.busc input {position:relative; float:left; background-color: transparent;margin:0px;width:212px; border:none; height:20px; font-size:15px; font-family:arial; padding:0px;}
.busc input { color:#666666;  font-style:normal; margin-top:2px;}

.busc input[type=submit] {cursor:pointer;position:relative; float:right;margin-top:0px; width:27px; height:26px; background-image:url('/img/iconos/iconos.png');}

.busc ::-webkit-input-placeholder 	{color:#aaaaaa;  font-style:italic;}
.busc :-moz-placeholder 			{color:#aaaaaa;  font-style:italic;}
.busc ::-moz-placeholder 			{color:#aaaaaa;  font-style:italic;}
.busc :-ms-input-placeholder 		{color:#aaaaaa;  font-style:italic;}



/* cats inf */



#cmenu ul {
position:relative;float:left;  width:260px; 
margin:5px 10px;background-color: #ffffff;
	
padding:0px; list-style: none; cursor:pointer;
	
}




.topMs  { 
padding: 8px 32px 9px 6px !important; background-color: #ff9900; border-top:1px solid #999999; 
color: #ffffff;
font-family: arial;
font-size: 13px;
background-image:none !important;	
cursor:auto !important;	
}
.topMs:hover  {background-color: #ff9900 !important; }








.topMs h2 {color: #ffffff;font-family: arial;font-size: 13px; padding:0; margin:0;}


#cmenu li {
padding: 8px 20px 5px 8px; border-bottom: 1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999; 	
background-image:url('/img/iconos/fondico.png');
background-repeat:no-repeat;
background-position: right 10px;	
}

#cmenu li:hover {
background-color: #EEEEEE;	
	
}

#cmenu li a{
font-size:11px; font-family:Arial; text-decoration: none; color:#666666;
line-height: 1.5;
display:block;	
}





.liPreC {
font-size:11px; font-family:Arial; text-decoration: none; color:#666666;
line-height: 1.5;
display:block;	
border-bottom: 1px solid #999999 !important;		
padding-bottom:5px !important;
background-position: right -97px !important;
}

.liPreD {
font-size:11px; font-family:Arial; text-decoration: none; color:#666666;
line-height: 1.5;
display:block;
border-bottom:0px !important;		
padding-bottom:8px !important;
background-position: right -143px !important;
} 


.liPreC h2, .liPreD h2{
font-size:11px; font-family:Arial; text-decoration: none; color:#666666;
line-height: 1.5;
display:block;
}




.cdQ {
	
	background-image:url('/img/iconos/fondico.png');
	background-repeat:no-repeat;
	background-position: right -361px;
	
	background-color: #FFFFD1;
    cursor: pointer;
    float: left;
	position: relative;  
    margin: 5px 10px;
    width: 230px;
    padding: 5px 20px 4px 8px;
    border:1px dotted red;
}

.cdQ:hover {background-color: #FFFFB2;}


.cdQ h2 {
  color: #888888;
    display: block;
    font-family: Arial;
    font-size: 11px;
    line-height: 1.5;	
	
}



#lisP {
display:none;	
margin-top:-5px !important;
border-bottom: 1px solid #999999 !important;
border-left: 1px solid #999999 !important;
border-right: 1px solid #999999 !important;
padding-bottom:10px !important;
width: 258px !important;	
}

#lisP li {
border-bottom:0px !important;
border-left:0px !important;
border-right:0px !important;
padding: 5px 20px 5px 15px !important;
background-position: right 8px !important;	
}




/* col r
*/
.cLin{position:relative; float:left;  width: 280px;height: 50px;}
.cL	 {position:absolute; width: 280px; bottom:0; top:0; left: 0;}
.cR  {position:relative; float:left; width: 860px; padding:20px 30px 50px 30px;   background-color: #FFFFFF; top:0; min-height: 1900px; }



h1 {font-size:28px; font-family:Arial; font-weight: normal; color:#37527A; margin:0 0 0 -2px;}

h2 {font-size:18px; font-family:Arial; font-weight: normal; color:#37527A; margin:0 0 0 -2px;}
h2 a {text-transform: none;    letter-spacing: 0px; text-decoration: none;   }


h3 {font-size:18px; font-family:Arial; font-weight: normal; color:#37527A; margin:0 0 0 -2px;}
h3 a {text-transform: none;    letter-spacing: 0px; text-decoration: none;   }

h4        {font-size:12px; font-family:Arial; font-weight: normal; color:#666666; margin:6px 0;}
h4 p 	  {font-size:12px; font-family:Arial; font-weight: normal; color:#666666;}


.breadcrumbs {font-size:14px; font-family:Arial; font-weight: normal; color:#FF9900; margin:7px 0 0 0; }
.breadcrumbs a {font-size:14px; font-family:Arial; font-weight: normal; color:#FF9900; }

.socLk {position:relative;float:left; width:100%;  margin: 15px 0 15px 0;}
.fbLik {position:relative;float:left; }
.glink {position:relative;float:left; margin-left:10px; }