
.page  	{width:720px;}
.cbpag 	{width:720px;}
.cabLogo{width:720px;}
.banner {width:720px;}    
.cnt 	{width:720px;}
.cR		{width:697px;  padding:60px 15px 10px 8px;}

.azB {  height: 171px;left: 150px;top: 103px; width: 431px;}
.busc {left: 86px;top: 85px; }