/*
 .pageD 	{width: 480px;}
 
 */

.cbpagT {width: 480px;}
.page 	{width: 480px;}
.mminf  {width: 480px;}

.imgCat {position:relative; float:left; height:50px; width:170px; border:none; }
.imgLOGO {position:relative; float:left; height:50px; border:none; }
.cabLogo{height:50px;}