
.page  	{width:480px;}
.cbpag 	{width:480px;}
.cabLogo{width:480px;}
.banner {width:480px;}    
.cnt 	{width:480px;}
.cR		{width:457px;  padding:70px 15px 10px 8px;}


.azB { height: 133px; left: 38px; top: 70px; width: 401px;}
.busc {left: 70px;top: 68px; }